* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

:root {
    --orange: orange;
    --dark: #af7202;
    --gradient: linear-gradient(180deg, var(--orange), var(--dark));
    --font: 70px;
}

body {
    font-family: "Work Sans", sans-serif;
}

.story {
    direction: rtl;
    text-align: center;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 50px;
    background-color: #d6bb8b29;

    .imge {
        img {
            width: 44%;
            border-radius: 20px;
            margin-bottom: 80px;
            border: 3px solid var(--dark);
        }
    }

    h1 {
        text-align: center;
        font-size: 30px;
        color: var(--dark);
        padding: 20px 10px;
        width: 44%;
        border-top: 3px solid var(--orange);
        border-radius: 20px;
        border-bottom: 3px solid var(--orange);
        border: 50%;

    }

    p {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: start;
        font-size: 22px;
        line-height: 46px;
        /* font-family: "Scheherazade New", serif;
        font-weight: 400;
        font-style: normal;*/
        font-family: "Scheherazade New", serif;
        font-weight: 500;
        font-style: normal;
    }
}

@media (max-width: 768px) {
    .story .imge img {
        width: 100%;
    }

    .story h1 {
        width: 100%;
        font-size: 20px;
    }
}
